/pdi-ce-*.tar.gz
/pdi-ce-*.zip
/tranSMART-ETL
/transmart-etl
/data-integration
/groovy
/groovy-*
/apache-groovy-*
/transmart-loader.tar.xz
/transmart-loader
/transmart-loader-from-file-server
/transmart-loader-latest-bamboo-snapshot
/batchdb-psql.properties
/batchdb-oracle.properties
/transmart-batch-capsule.jar
/mvn
/apache-maven-*
/php5
/php
/php-5.*
