*.iml
*.ipr
*.iws
*.log
*.sublime-workspace
.DS_Store
.slcache
/.classpath
/.idea
/.project
/.settings
/grails-*.zip
/grails-*.zip.sha1
/plugin.xml
/target
/target-eclipse
/web-app/WEB-INF
cobertura.ser
node_modules
