.point {
    opacity: 0.8;
    stroke: #FFFFFF;
}

.regressionLine {
    stroke: #FFA500;
    stroke-width: 3px;
}

.regressionLine:hover {
    stroke: #FF0000;
}

.brush .extent {
    fill: blue;
    opacity: .125;
    shape-rendering: crispEdges;
}

.bar rect {
    fill: #FEEAAF;
    stroke: #DEAC3A;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #ffa500;
    font-weight: bold;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis {
    font-size: 10px;
}

.tick line {
    shape-rendering: crispEdges;
    opacity: 0.2;
}

.legend {
    border: 1px solid black;
    padding: 2px;
    position: absolute;
    display: inline-block;
    color: black;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 10px 10px 20px grey;
}

.legend:hover {
    cursor: move;
}

.tooltip {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: white;
    pointer-events: none;
    box-shadow: 10px 10px 20px grey;
}

.contextMenu {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 20px grey;
}

.axisLabels {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
}

.mybutton {
    width: 100%;
    height: 30px;
    color: black;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.mybutton:hover {
    color: white;
    background: #326FCB;
}