.sr-linegraph-x-axis {

}

.sr-linegraph-cat-plot {
    stroke: black;
    shape-rendering: crispEdges;
}

.sr-workflow-controls>div {
    float: right;
    padding: 5px 15px 5px 15px;
}

.sr-linegraph-cat-icon {
    stroke: none;
}

.sr-linegraph-cat-icon:hover {
    opacity: 0.5;
}
