.sr-linegraph-x-axis path,
.sr-linegraph-x-axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.sr-linegraph-y-axis path,
.sr-linegraph-y-axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.sr-linegraph-cat-plot rect {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.sr-linegraph-cat-plot path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.sr-workflow-controls>div {
    float: right;
    padding: 5px 15px 5px 15px;
}

.sr-linegraph-cat-icon {
    stroke: green;
}

.sr-linegraph-cat-icon:hover {
    opacity: 0.5;
}

.icon-highlight {
    opacity: 0.5;
}

.sr-linegraph-shift-element {

}

.sr-linegraph-shift-element:hover {
    opacity: 0.5;
    cursor: pointer;
}

.sr-linegraph-num-plot rect {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.sr-linegraph-boxplot line {
    stroke: blue;
    stroke-width: 4px;
}

.sr-linegraph-timeline {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}
