/* override  jquery-ui stylings */

.ui-tabs  {
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Heim analytical tools  */
.heim-input-field {
    margin-top: 10px;
}

/* SmartR legacies */

.tooltip {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: white;
    pointer-events: none;
}

.contextMenu {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.mybutton {
    width: 100%;
    height: 30px;
    color: black;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.mybutton:hover {
    color: white;
    background: #326FCB;
}


/* Heatmap legacy css */
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.square {
    stroke: white;
    stroke-width: 0;
}

.extraSquare {
    stroke: white;
    stroke-width: 0;
}

.feature {
    font-size: 10px;
}

.featureSortText {
    font-size: 10px;
}

.selected {
    opacity: 1;
}

.square:hover {
    opacity: 0.4;
}

.squareHighlighted {
    opacity: 0.4;
}

.extraSquare:hover {
    opacity: 0.4;
}

.bar {
    fill: steelblue;
    stroke: black;
    shape-rendering: crispEdges;
}

.bar:hover {
    opacity: 0.4;
}

.barHighlighted {
    opacity: 0.4;
}

.cuttoffHighlight {
    opacity: 0.4;
}

.box {
    fill-opacity: 0;
    shape-rendering: crispEdges;
}

.box:hover {
    cursor: pointer;
    fill-opacity: 0.2;
}

.probe {
    font-size: 9pt;
}

.selectText {
    font-size: 16pt;
}

.highlight {
    font-weight: bold;
    fill: red;
}

.node {
    fill: white;
    stroke: rgb(0, 126, 126);
    stroke-width: 1.5px;
}

.node:hover {
    cursor: pointer;
    fill: rgb(0, 126, 126);
}

.link {
    fill: none;
    stroke: #FF8700;
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: white;
    pointer-events: none;
}

/** **/
.blink_me {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: .1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: .1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: .1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

.sr-input-area {max-width: 1024px;  display: table; table-layout: fixed;}
.heim-dropzone {display: table-cell; width: 400px; min-width: 200px;}
.sr-drop-input { height: 100px; border: 1px solid #aaaaaa; margin-right: 5px; padding: 2px;border-radius: 5px;}
.heim-action-button {padding: 5px;}
.sr-output-container {padding-top: 20px; padding-bottom: 20px;}
.sr-fetch-params-area {clear: both; margin-top: 20px;margin-bottom: 20px;}
.sr-log-text {color: darkgreen}
.sr-output-container img {border: 1px solid #ddd; margin-right: 3px;}
.sr-summary-table {border: 1px solid #ddd; display: inline-block; width: 480px;}
.sr-summary-table th {font-weight: bold; background-color: #DDD; text-align: center}
.sr-summary-table th, .sr-summary-table td  {padding: 5px;}
.sr-summary-table body {width: 100%; }
.sr-summary-table tr th:nth-child(1){width: 30%;}
.sr-summary-table tr th:nth-child(2){width: 20%;}
.sr-summary-table tr th:nth-child(3){width: 20%;}
.sr-summary-table tr td:nth-child(2){text-align: right;}
.sr-summary-table tr td:nth-child(3){text-align: right;}
.ui-icon-info {display: inline-block; }
.sr-ui-tooltip {font-size: .85em; background: lightgoldenrodyellow !important;}

#heim-input-list-identifiers ul {
    margin-top: .8em;
    display: table;
}
#heim-input-list-identifiers li {
    display: table-row;
}
#heim-input-list-identifiers div, #heim-input-list-identifiers button {
    display: table-cell;
}
#heim-input-list-identifiers div {
    padding-right: 1em;
}
#heim-input-list-identifiers .identifier-name {
    font-weight: bold;
}
#heim-input-list-identifiers .identifier-synonyms {
    font-size: .9em;
    color: gray;
}

/** jquery ui overrides **/
.heim-tab.ui-state-default.ui-state-active {
    background: white;
}
.heim-tab.ui-state-default.ui-state-active a {
    color: black;  font-weight: bold;
}
.heim-tab.ui-state-default a:hover  {
    color: #515BA2;
}
.heim-tab.ui-state-default {
    background: #CCC;
}
.heim-tab.ui-state-default a {
    color: black; font-weight: normal;
}
.sr-divider {border-top: 1px dotted #8c8b8b; margin-bottom: .5em; margin-top: 2em; clear:both;}
.heim-input-field h3  {height: 1.7em; font-weight: 100;}
.heim-input-field label  {display: inline-table;width: 15em;height: 1.7em;}
.heim-input-field input[type='text']  {display: inline-table;width: 15em; height: 1.5em; padding: 2px;}
.heim-radiogroup {padding: .5em; border-radius: .5em; background-color: #EEE; border:none; margin: .5em 0 0 .5em; }
.heim-radiogroup label {display: inline;}
.heim-radiogroup div {display: block; margin-bottom: .5em}
.heim-input-field-sub {float:left;}
.heim-input-field-sub h3 {text-decoration: underline; font-weight: 100;}
.sr-fetch-dialog {font-family: inherit;}
