    .text {
        font-family: 'Roboto', sans-serif;
    }

	.timeBox {
		stroke: white;
		stroke-width: 1px;
		shape-rendering: crispEdges;
		fill: black;
	}

	.line {
  		stroke-width: 3px;
  		fill: none;
	}

    .hovered {
        opacity: 1;
        stroke-width: 5px;
    }

    .selected {
        opacity: 1;
        stroke-width: 4px;
    }

    .assigned {
        stroke-width: 5px;
    }

	.hoverline {
		stroke: white;
  		stroke-width: 1px;
        pointer-events: none;
        shape-rendering: crispedges;
        stroke-dasharray: 5, 10;
	}

	.axis path, .axis line {
    	fill: none;
    	shape-rendering: crispedges;
    	stroke: black;
	}

    .slider {
        fill: black;
    }

    .brush .extent {
        stroke: none;
        stroke-width: 0px;
        fill: steelblue;
        fill-opacity: 0.60;
    }

    .box {
        stroke: none;
        fill: white;
        stroke-width: 1px;
        shape-rendering: crispedges;
        fill-opacity: 0;
    }

    .box:hover {
        cursor: pointer;
        fill: orange;
        fill-opacity: 0.4;
    }

    .draggableTimepoints {
        cursor: pointer;
    }

    .x.brush .extent {
        stroke: none;
        stroke-width: 0px;
        fill: rgb(81, 255, 237);
        fill-opacity: 0.40;
        shape-rendering: crispEdges;
    }

    .x.brush>.resize {
        display: none;
    }

    .brushbutton {
        stroke: black;
        fill: rgb(0, 18, 152);
        stroke-width: 0px;
        shape-rendering: crispedges;
    }

    .brushbutton:hover {
        cursor: pointer;
        stroke: black;
        fill: #E700FF;
    }

    .draggableTimepoints>.box:hover {
        cursor: pointer;
        fill: orange;
    }

    .tooltip {
        position: absolute;
        text-align: center;
        display: inline-block;
        padding: 0px;
        font-size: 12px;
        font-weight: bold;
        color: black;
        background: white;
        pointer-events: none;
    }

    .contextMenu {
        position: absolute;
        text-align: center;
        display: inline-block;
        padding: 0px;
        font-size: 12px;
        font-weight: bold;
        color: black;
        background-color: white;
    }

    .mybutton {
        width: 100%;
        height: 30px;
        color: black;
        background-color: white;
        font-size: 12px;
        font-weight: bold;
        border: none;
    }

    .mybutton:hover {
        color: white;
        background: #326FCB;
    }

    .node {
        fill: white;
        stroke: rgb(0, 126, 126);
        stroke-width: 1.5px;
    }

    .node:hover {
        cursor: pointer;
        fill: rgb(0, 126, 126);
    }

    .link {
        fill: none;
        stroke: #FF8700;
        stroke-width: 2px;
    }

    .correlogram {
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }
