.text {
    font-family: 'Roboto', sans-serif;
    fill: black;
}

.point {

}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background: #123456;
    pointer-events: none;
}

.square {

}

.tick line {
    shape-rendering: crispEdges;
    opacity: 0.2;
}

.pLine {
    stroke: red;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.pHandle {
    cursor: ns-resize;
    opacity: 0;
}

.logFCLine {
    stroke: #0000FF;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.logFCHandle {
    cursor: ew-resize;
    opacity: 0;
}

.axisText {
    font-size: 14px;
}

.mytable, .myth, .mytd {
    border: 1px solid black;
    border-collapse: collapse;
}

.myth, .mytd {
    padding: 5px;
}