<workflow-controls ng-show="showControls">
    <div>
        <label for="sr-boxplot-log-check">Log2</label>
        <input type="checkbox" id="sr-boxplot-log-check">
    </div>
    <div>
        <label for="sr-boxplot-jitter-check">Jitter</label>
        <input type="checkbox" id="sr-boxplot-jitter-check">
    </div>
    <div>
        <label for="sr-boxplot-kde-check">KDE</label>
        <input type="checkbox" id="sr-boxplot-kde-check">
    </div>
    <div>
        <input type="button" id="sr-boxplot-reset-btn" value="Reset">
    </div>
    <div>
        <input type="button" id="sr-boxplot-remove-btn" value="Remove Outliers">
    </div>
</workflow-controls>
<div id="visualisation"></div>
