<table>
    <tr>
        <td><img src='https://www.mathsisfun.com/data/images/histogram.gif' width="300px" style="border: solid 1px#dddddd"></td>
        <td>
            <table class="sr-summary-table">
                <tbody>
                <tr>
                    <th>Loaded</th>
                    <th>Subset 1</th>
                    <th>Subset 2</th>
                </tr>
                <tr>
                    <td>variableLabel</td>
                    <td>n0_s1</td>
                    <td>n0_s2</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
