@CHARSET "UTF-8";

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin: 0 0 20px;
	line-height: 1.5;
}

section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}

.profileTab {
	display: none;
}

.tabLabel {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 10px 20px;
	font-weight: 600;
	text-align: center;
	color: #808080;
	border: 1px solid transparent;
}

.tabLabel:hover {
	color: #888;
	cursor: pointer;
}

input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: block;
}

.menuHeader {
	color: #006dba;
	font-weight: normal;
	font-size: 16px;
	margin: .8em 0 .3em 0;
}