#main {
    height:600px;
    width: 800px;
    max-height: 800px;
    max-width: 800px;
}

#scanPanel {
    height: 320px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 320px;
    max-width: 100%;
    overflow: scroll;

}

#scanThumbnail {
    display: block;
    margin-left: auto;
    margin-right:auto;

}

.ng-table {
    height: 50%;
    width: 100%;
}